[flake8]
exclude =
    .git,
    .eggs,
    __pycache__,
    build,
    __init__.py,
    dist,
ignore = E203, E266, E501, W503, F403
max-complexity = 13
max-line-length = 120
select = B,C,E,F,W,T4,B9
